<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      var response_times_ms = 0;
      var correct_response_times_ms = 0;
      var count = 0;
      var total_correct = 0;

      {% for response in responses %}
      response_times_ms += Number({{ response.get_response_time }});
      count += 1;
      {% if response.correct %}
        total_correct += 1
        correct_response_times_ms += Number({{response.get_response_time}});
      {% endif %}
      {% endfor %}

      response_times_ms /= 60000.0;
      $("#rpm").html((count/response_times_ms).toFixed(2));
      $("#crpm").html((total_correct/correct_response_times_ms).toFixed(2));
      $("#total_correct").html(total_correct);
      $("#passed").html("{{ response_block.successful }}");
    });
    </script>
  </head>
  <body>
    <p>
      Subject: {{ response_block.subject.name }}<br>
      Taken on: {{ response_block.date_time }}<br><br>
      Symbol Set: {{ response_block.symbol_set.name }}<br>
      Phase: {{ response_block.phase }}
    </p>
    {% if responses %}
      <table>
        <tr>
          <th>Stimulus</th>
          <th>Modifier</th>
          <th>Options</th>
          <th>Correct Response</th>
          <th>Given Response</th>
          <th>Response Time</th>
        </tr>
        {% for response in responses %}
        <tr>
          <td>{{ response.stimulus }}</td>
          <td>{{ response.modifier }}</td>
          <td>{{ response.options }}</td>
          <td>{{ response.correct_response }}</td>
          <td>{{ response.given_response }}</td>
          <td>{{ response.get_response_time|floatformat:2 }} sec</td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan=2>Responses Per Minute</th>
          <th>Correct Responses Per Minute</th>
          <th colspan=2>Total Correct Responses</th>
          <th>Passing Criteria</th>
        </tr>
        <tr>
          <td id="rpm" colspan=2 style="text-align:center"></td>
          <td id="crpm" style="text-align:center"></td>
          <td id="total_correct" colspan=2 style="text-align:center"></td>
          <td id="passed" style="text-align:center"></td>
        </tr>
      </table>
    {% endif %}
  </body>
</html>
