<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <p>
      Subject: {{ subject.subject_id }}<br>
      Current Phase: {{ subject.phase }}
    </p>
    <br>
    {% if response_list %}
      <table>
        <tr>
          <th colspan="3">Previous Responses</th>
        </tr>
        {% for response_set in response_list %}
          <tr>
            <td>{{ response_set.phase }}</td>
            <td>Recorded {{ response_set.date_time }}</td>
            <td>{{ response_set.successful }}</td>
            <td><a href="{% url 'response_set' response_set.id %}">View Results</a></td>
          </tr>
        {% endfor %}
      </table>
      <br>
    {% endif %}
    <form action="{% url 'phase_view' subject.subject_id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="View Results By Phase" />
    </form><br><br>
    {% if not admin %}
    <form action="{% url 'trial' %}">
      <input type="submit" value="Begin Trial" />
      <input type="hidden" name="subject" value="{{ subject }}" />
    </form>
    {% endif %}
  </body>
</html>
