aafigure==0.5
alembic==0.6.5
apptools==4.2.1
astroid==1.1.1
astropy==0.3.2
atom==0.3.9
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
Beaker==1.6.4
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
blockcanvas==4.0.3
blosc==1.2.3
Bottleneck==0.8.0
cchardet==0.3.5
cdecimal==2.3
certifi==14.5.14
cffi==0.8.2
chaco==4.4.1
charade==1.0.3
cloudinary==1.6.1
codetools==4.2.0
colorama==0.3.1
configobj==5.0.5
configparser==3.3.0.post2
cov-core==1.12
coverage==3.7.1
cryptography==0.4
cssselect==0.9.1
cvxopt==1.1.6
cx-Freeze==4.3.3
Cython==0.20.1
datrie==0.7
decorator==3.4.0
distlib==0.1.8
dj-database-url==0.4.0
Django==1.10
django-extensions==1.7.1
docopt==0.6.2
docutils==0.11
docutils-aafigure==0.3
ecdsa==0.11
ed25519ll==0.6
egenix-mx-base==3.2.7
enable==4.4.1
enaml==0.9.6
enamllexer==0.0.0
encore==0.5.1
enum34==1.0
envisage==4.4.0
ets==4.4.2
etsdevtools==4.0.2
etsproxy==0.1.2
execnet==1.2.0
Fabric==1.8.3
faulthandler==2.3
ffnet==0.7.1
fonttools==2.4
formlayout==1.0.15
funcsigs==0.4
futures==2.1.6
GDAL==1.11.0
gevent==1.0.1
gevent-websocket==0.9.3
graphcanvas==4.0.2
greenlet==0.4.2
guidata==1.6.1
guiqwt==2.3.2
gunicorn==19.4.5
h5py==2.3.0
html5lib==0.999
imageio==0.4.1
ipdb==0.8
ipdbplugin==1.4
ipython==2.1.0
jdcal==1.0
Jinja2==2.7.2
keyring==3.8
kiwisolver==0.1.2
logilab-common==0.61.0
lxml==4.6.5
mahotas==1.1.0
Mako==0.9.1
MarkupSafe==0.23
matplotlib==1.3.1
mayavi==4.3.1
MDP==3.3
mock==1.0.1
netCDF4==1.1.0
networkx==1.8.1
nose==1.3.3
nose-cov==1.6
nose-fixes==1.3
numexpr==2.4
numpy==1.8.1
opencv-python==2.4.9
openpyxl==2.0.3
pandas==0.13.1
paramiko==1.14.0
pathlib==1.0
patsy==0.2.1
pdfrw==0.1
pep8==1.5.7
Pillow==2.4.0
pipreqs==0.4.3
ply==3.4
Polygon==2.0.5
pp==1.6.4
psutil==2.1.1
psycopg2==2.6.2
py==1.4.20
py2exe==0.6.9
pyamg==2.1.0
PyAudio==0.2.8
pycares==0.6.1
pycparser==2.10
pycrypto==2.6.1
pycurl==7.19.3.1
pydicom==0.9.8
pyemf==2.0.0
pyface==4.4.0
pyflakes==0.8.1
pygame==1.9.2rc0
Pygments==1.6
pygraphviz==1.3.dev0
pyhdf==0.8.3
PyHyphen==2.0.4
PyICU==1.7
PyInstaller==2.1
pylint==1.2.1
pymc==2.3.2
pyMinuit==1.2.1
pyodbc==3.0.7
PyOpenGL==3.0.2
PyOpenGL-accelerate==3.0.2
pyOpenSSL==0.14
pyparallel==0.2
pyparsing==2.0.2
pyPdf==1.13
pypyodbc==1.3.3
pyreadline==2.0.3
pyserial==2.7
pytest==2.5.2
pytest-bench==0.2.5
pytest-cache==1.0
pytest-cov==1.6
pytest-flakes==0.2
pytest-pep8==1.0.6
pytest-xdist==1.10
python-dateutil==2.2
pytz==2014.3
PyVISA==1.4
PyWavelets==0.2.2
pywin==0.3.1
pywin32==219
pywinauto==0.4.2
PyYAML==3.11
pyzmq==14.3.0
reportlab==3.1.10
requests==2.9.1
rope==0.10.2
rst2pdf==0.93
sampy==1.2.1
scikit-image==0.10.0
scikit-learn==0.14.1
scimath==4.1.2
scipy==0.14.0
seaborn==0.4.dev0
SendKeys==0.3
simplejson==3.5.2
singledispatch==3.4.0.3
six==1.10.0
smc.freeimage==0.3.dev0
Sphinx==1.2.2
sphinxcontrib-aafig==1.0
sphinxcontrib-napoleon==0.2.7
spyder==2.2.5
SQLAlchemy==0.9.4
statsmodels==0.5.0
svg2rlg==0.3
svglib==0.6.3
sympy==0.7.5
tables==3.1.1
Tempita==0.5.2
termcolor==1.1.0
tornado==3.2.1
traits==4.5.0
traitsui==4.4.0
TTFQuery==1.0.5
ujson==1.33
uncertainties==2.4.6
urllib3==1.20
veusz==1.21
virtualenv==14.0.6
virtualenvwrapper-win==1.1.5
ViTables==2.1
VPython==5.74
VTK==5.10.1
whitenoise==3.2.1
Whoosh==2.5.7
wincertstore==0.2
winpdb==1.4.8
wsaccel==0.6.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xhtml2pdf==0.0.6
xlrd==0.9.3
xlwt==0.7.5
yarg==0.1.9
